.bg-aqua{
    background-color: rgba(84, 130, 130, 0.749);
}
.hover-container:hover {
    background-color: #f8f9fa; 
    transform: scale(1.05);   /* Slight zoom effect */
    transition: transform 0.3s, background-color 0.3s;
  }
  .hover-container-customerform:hover {
    background-color: #6d6d6d; 
    transform: scale(1.05);   /* Slight zoom effect */
    transition: transform 0.3s, background-color 0.3s;
  }
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }