.signup-container {
    background-image: url('./assets/patternbg.jpg'); /* Use this if the image is in the `src/assets` folder */
    background-size: cover; /* Ensures the image covers the container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating of the image */
     padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     background-color: #f5f5f5;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
  }
  
  h1 {
    color: #333;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  ul{
    list-style-type: none;
    margin-top: 15px;
  }
  /* src/signup.css */
input[type="submit"] {
    background-color: blue; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for size */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Text size */
    font-family: Arial, sans-serif;
    margin-top: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #908ef5; /* Darker green on hover */
  }
  h1{
    margin-top: 10px;
  }
  .bg_signup{
    max-width: 100%;
  }
  .logo-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .logo {
    width: 150px;
    height: auto;
  }
  .hover-container:hover {
    background-color: #f8f9fa; 
    transform: scale(1.05);   /* Slight zoom effect */
    transition: transform 0.3s, background-color 0.3s;
  }